.mdx-dict-sidebar {
  user-select: text;
  padding: 5px;
}

.margin-text-input input {
  margin: 0 10px;
}

.name-change-title {
  cursor: pointer;
}

.mdx-dict-group-hr {
  border-top: 3px double #333;
}

.full-width-input {
  width: 100%;
}

.word-definition-results {
  /* width: 100%; */
  width: 1px;
  min-width: 100%;
  border: none;
  height: 2em;
}

.mdx-dict-sidebar {
  background-color: #eee;
}

.mdx-dict-sidebar h1,
.mdx-dict-sidebar h2 {
  color: black;
}

.save-template {
  width: 200px;
  height: 200px;
}

.word-definition-embed {
  width: 100%;
  height: 800px;
  background-color: #eee;
}

/* .word-definition-embed {
  width: 1px;
  min-width: 100%;
  border: none;
  height: 2em;
  background-color: #eee;
} */
